@model project_for_devops.Models.accountlog

@{
    ViewBag.Title = "login";
}

<h2 style="text-align:center">login</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="card card-container">
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin">

                @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control editor", placeholder = "User Name", required = "required" } })
                <br />
                @Html.EditorFor(model => model.password,new{ htmlAttributes = new { @class = "form-control editor", type="password",placeholder = "Password", required = "required" } })
                <br />
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" value="Login">Log in <span class="glyphicon glyphicon-home"></span></button>
                <br />
                <br />
                <br/>
                <br/>
                <br />
                <br />
                <br />
              
                  

            </form>
        </div>
    </div>


 
}

<div>
    @*@Html.ActionLink("Back to List", "Index")*@
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<link rel="stylesheet" href="~/Content/Loginstyle.css" />
<link rel="stylesheet" href="~/Content/logincss.css" />
